<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.project.model.dao.ProjectMapper">
 
 	<resultMap id="projectResultMap" type="ProjectDTO">
 		<id property="code" column="PROJECT_CODE"/>
 		<result property="title" column="PROJECT_TITLE"/>
 		<result property="startDate" column="PROJECT_START_DATE"/>
 		<result property="endDate" column="PROJECT_END_DATE"/>
 		<result property="progress" column="PROJECT_PROGRESS"/>
 		<result property="body" column="PROJECT_BODY"/>
 		<result property="version" column="PROJECT_VERSION"/>
 		<result property="deleteStatus" column="PROJECT_DELETE_STATUS"/>
 		<result property="writer" column="PROJECT_WRITER"/>
 		
 		<association property="writerMember" resultMap="memberResultMap"/>
 	</resultMap>
 	
 	<resultMap id="memberResultMap" type="MemberDTO">
 		<id property="no" column="MEMBER_NO"/>
 		<result property="permit" column="MEMBER_PERMIT"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="pwd" column="MEMBER_PWD"/>
 		<result property="phone" column="MEMBER_PHONE"/>
 		<result property="email" column="MEMBER_EMAIL"/>
 	</resultMap>
 	
 	<resultMap id ="projectMembersResultMap" type="ProjectMembersDTO">
 		<id property="code" column="PROJECT_CODE"/>
 		<id property="no" column="MEMBER_NO"/>
 		<result property="participationYn" column="PROJECT_PARTICIPATION_YN"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="roleName" column="ROLE_NAME"/>
 	</resultMap>
 	
 	<select id="selectProjectList" resultMap="projectResultMap">
 		SELECT
			   A.PROJECT_CODE
			 , A.PROJECT_TITLE
			 , A.PROJECT_START_DATE
			 , A.PROJECT_END_DATE
			 , A.PROJECT_PROGRESS
			 , A.PROJECT_BODY
			 , A.PROJECT_VERSION
			 , A.PROJECT_DELETE_STATUS
			 , A.PROJECT_WRITER
		  FROM TBL_PROJECT A
		  JOIN TBL_MEMBER B ON(A.PROJECT_WRITER = B.MEMBER_NAME)
		  JOIN TBL_PROJECT_MEMBERS C ON(A.PROJECT_CODE = C.PROJECT_CODE)
		 WHERE C.MEMBER_NO = #{ no }
		   AND A.PROJECT_DELETE_STATUS = 'N'
		 ORDER BY PROJECT_CODE DESC
 	</select>
 	
 	<select id="selectProjectMembers" resultMap="projectMembersResultMap">
		SELECT
		       A.PROJECT_CODE 
		     , A.MEMBER_NO
		     , A.PROJECT_PARTICIPATION_YN
		     , B.MEMBER_NAME
		     , C.ROLE_NAME
		  FROM TBL_PROJECT_MEMBERS A
		  JOIN TBL_MEMBER B ON(A.MEMBER_NO = B.MEMBER_NO)
		  JOIN TBL_ROLE C ON(A.PROJECT_CODE = C.PROJECT_CODE)
		 WHERE A.PROJECT_CODE = #{ code }
		   AND B.MEMBER_NO = C.MEMBER_NO
 	</select>
 	
 	<insert id="registProject" parameterType="ProjectDTO">
 		INSERT
 		  INTO TBL_PROJECT A
 		(
 		  A.PROJECT_CODE
 		, A.PROJECT_TITLE
 		, A.PROJECT_START_DATE
 		, A.PROJECT_END_DATE
 		, A.PROJECT_PROGRESS
 		, A.PROJECT_BODY
 		, A.PROJECT_VERSION
 		, A.PROJECT_DELETE_STATUS
 		, A.PROJECT_WRITER
 		)
 		VALUES
 		(
 		  SEQ_PROJECT_NO.NEXTVAL
 		, #{ title } 
 		, #{ startDate }
 		, #{ endDate }
 		, '미진행'
 		, #{ body }
 		, 1
 		, 'N'
 		, #{ writer }
 		)
 	</insert>
 	
 	<insert id="registProjectMembers" parameterType="ProjectMembersDTO">
 		INSERT
 		  INTO TBL_PROJECT_MEMBERS A
 		(
 		  A.PROJECT_CODE
 		, A.MEMBER_NO
 		, A.PROJECT_PARTICIPATION_YN
 		)
 		VALUES
 		(
 		  SEQ_PROJECT_NO.CURRVAL
 		, #{ no }
 		, 'Y'
 		)
 	</insert>
 	
 	<insert id="registProjectMemberRole" parameterType="_int">
 		INSERT
 		  INTO TBL_ROLE A
 		(
 		  A.ROLE_CODE
 		, A.ROLE_NAME
 		, A.MEMBER_NO
 		, A.PROJECT_CODE
 		)
 		VALUES
 		(
 		  SEQ_ROLE_CODE.NEXTVAL
 		, 'PM'
 		, #{ no }
 		, SEQ_PROJECT_NO.CURRVAL
 		)
 	</insert>
 	
 	<update id="removeProject" parameterType="_int">
 		UPDATE 
 		       TBL_PROJECT A
 		   SET A.PROJECT_DELETE_STATUS = 'Y'
 		 WHERE A.PROJECT_CODE = #{ code }
 	</update>
 	
 </mapper>