<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.management.model.dao.ManagementMapper">
 	
<resultMap type="ManagementDTO" id="managementResultMap">
	<id property="memberNo" column="MEMBER_NO"/>
	<result property="memberId" column="MEMBER_ID"/>
	<result property="memberName" column="MEMBER_NAME"/>
	<result property="permitName" column="PERMIT_NAME"/>
</resultMap> 

<resultMap type="PermitDTO" id="permitResultMap">
	<id property="code" column="PERMIT_CODE"/>
	<result property="name" column="PERMIT_NAME"/>
	<result property="description" column="PERMIT_DESCRIPTION"/>
</resultMap>

 	
 	<select id="selectTotalCount" resultType="_int">
  		SELECT
 		       COUNT(*)
 		  FROM TBL_MEMBER A
		  JOIN TBL_PERMIT B ON (A.PERMIT_CODE = B.PERMIT_CODE)
		 WHERE A.ABSENCE_YN = 'N'
		   AND A.MEMBER_NO != 13
 	</select> 
 	
 	<select id="selectManagementList" resultMap="managementResultMap">
			SELECT
 		       A.MEMBER_NO
 		     , A.MEMBER_NAME
 		     , B.PERMIT_NAME
 		     , A.MEMBER_ID
 		  FROM TBL_MEMBER A 
 		  JOIN TBL_PERMIT B ON (A.PERMIT_CODE = B.PERMIT_CODE)
 		 WHERE A.ABSENCE_YN = 'N'
 		   AND A.MEMBER_NO != 13
 	</select> 	
 	
 	
 </mapper>