<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.mytask.model.dao.MyTaskMapper">
 	<resultMap id="memberResultMap" type="MemberDTO">
 		<id property="no" column="MEMBER_NO"/>
 		<result property="permit" column="MEMBER_PERMIT"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="pwd" column="MEMBER_PWD"/>
 		<result property="phone" column="MEMBER_PHONE"/>
 		<result property="email" column="MEMBER_EMAIL"/>
 	</resultMap>
 	
 	
 	<resultMap id="projectResultMap" type="ProjectDTO">
 		<id property="code" column="PROJECT_CODE"/>
 		<result property="title" column="PROJECT_TITLE"/>
 		<result property="startDate" column="PROJECT_START_DATE"/>
 		<result property="endDate" column="PROJECT_END_DATE"/>
 		<result property="progress" column="PROJECT_PROGRESS"/>
 		<result property="body" column="PROJECT_BODY"/>
 		<result property="version" column="PROJECT_VERSION"/>
 		<result property="deleteStatus" column="PROJECT_DELETE_STATUS"/>
 		<result property="writer" column="PROJECT_WRITER"/>
 		
 		<association property="writerMember" resultMap="memberResultMap"/>
 	</resultMap>
	
	<resultMap id ="projectMembersResultMap" type="ProjectMembersDTO">
 		<id property="code" column="PROJECT_CODE"/>
 		<id property="no" column="MEMBER_NO"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="participationYn" column="PROJECT_PARTICIPATION_YN"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="roleName" column="ROLE_NAME"/>
 	</resultMap>
 	
 	<resultMap id ="toDoListResultMap" type="ToDoListDTO">
       <id property = "no" column="TODOLIST_NO"/>
       <result property ="writingTime" column="TODOlIST_WRITING_TIME"/>
       <result property="title" column="TODOLIST_TITLE"/>
       <result property="checkStatus" column="TODOLIST_CHECK_STATUS"/>
       <result property="deleteStatus" column="TODOLIST_DELETESTATUS"/>
    </resultMap>
    
    <resultMap id ="taskResultMap" type="TaskDTO">
 		<id property="code" column="TASK_CODE"/>
 		<result property="title" column="TASK_TITLE"/>
 		<result property="startDate" column="TASK_START_DATE"/>
 		<result property="progress" column="TASK_PROGRESS"/>
 		<result property="endDate" column="TASK_END_DATE"/>
 		<result property="deleteStatus" column="TASK_DELETE_STATUS"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		 		
 		<association property="taskMemberList" resultMap="memberResultMap"/>
 	</resultMap>
 	
 	<!-- <resultMap id ="taskMembersResultMap" type="TaskMembersDTO">
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		
 	</resultMap> -->
 	
  	<select id="selectMyTaskProjectList" resultMap="projectResultMap">
 		SELECT
			   A.PROJECT_CODE
			 , A.PROJECT_TITLE
			 , A.PROJECT_START_DATE
			 , A.PROJECT_END_DATE
			 , A.PROJECT_PROGRESS
			 , A.PROJECT_BODY
			 , A.PROJECT_VERSION
			 , A.PROJECT_DELETE_STATUS
			 , A.PROJECT_WRITER
		  FROM TBL_PROJECT A
		  JOIN TBL_MEMBER B ON(A.PROJECT_WRITER = B.MEMBER_NAME)
		  JOIN TBL_PROJECT_MEMBERS C ON(A.PROJECT_CODE = C.PROJECT_CODE)
		 WHERE C.MEMBER_NO = #{ no }
		   AND A.PROJECT_DELETE_STATUS = 'N'
		 ORDER BY PROJECT_CODE DESC
 	</select>
 	
 	<select id="selectMyTaskProjectMembers" resultMap="projectMembersResultMap">
		SELECT
		       A.PROJECT_CODE 
		     , A.MEMBER_NO
		     , A.PROJECT_PARTICIPATION_YN
		     , B.MEMBER_NAME
		     , C.ROLE_NAME
		  FROM TBL_PROJECT_MEMBERS A
		  JOIN TBL_MEMBER B ON(A.MEMBER_NO = B.MEMBER_NO)
		  JOIN TBL_ROLE C ON(A.PROJECT_CODE = C.PROJECT_CODE)
		 WHERE A.PROJECT_CODE = #{ code }
		   AND B.MEMBER_NO = C.MEMBER_NO
 	</select>
 	
 	<select id="selectMyTaskToDoList" resultMap="toDoListResultMap">
        SELECT
        	   A.TODOLIST_NO
             , A.TODOLIST_WRITING_TIME
             , A.TODOLIST_TITLE
             , A.TODOLIST_CHECK_STATUS
             , A.TODOLIST_DELETE_STATUS
             , A.MEMBER_NO
          FROM TBL_TODOLIST A
         WHERE A.MEMBER_NO= #{ memberNo }
           AND A.TODOLIST_DELETE_STATUS = 'N'
         ORDER BY A.TODOLIST_NO DESC
    </select>
 	

 	<select id="selectTaskList" resultMap="taskResultMap">
        SELECT
             , A.TASK_CODE
             , A.TASK_TITLE
             , A.TASK_PROGRESS
             , B.PROJECT_CODE
             , A.TASK_DELETE_STATUS
             , A.TASK_STATRT_DATE
             , A.TASK_END_DATE
          FROM TBL_TASK A
          JOIN TBL_TASK_MEMBERS ON(A.TASK_CODE= B.TASK_CODE )
         WHERE A.PROJECT_CODE = #{ projectCode }
           AND B.MEMBER_NO = #{ memberNo }
           AND TASK_DELETE_STATUS = 'N'
         ORDER BY A.TASK_STATRT_DATE DESC
     </select>
 	
 	<insert id = "reqistToDoList" parameterType="_int" >
        INSERT
          INTO TBL_TODOLIST A
        (
          A.TODOLIST_NO
        , A.TODOLIST_WRITING_TIME
        , A.TODOLIST_TITLE
        , A.TODOLIST_CHECK_STATUS
        , A.TODOLIST_DELETE_STATUS
        , A.MEMBER_NO
        )
 		VALUES
 		(
 		  SEQ_PROJECT_NO.NEXTVAL
 		, TO_DATE(SYSDATE,'YYYY.MM.DD HH24:MI:SS')
 		, NULL
 		, 'N'
 		, 'N'
 		, #{ memberNo }
 		)
 	</insert>
 	
 	
 	<update id = "removeToDoList" parameterType="_int">
       UPDATE 
 		       TBL_TODOLIST A
 		   SET A.TODOLIST_DELETE_STATUS= 'Y'
 		 WHERE A.TODOLIST_NO = #{ todolistNo }
 	</update>

 	<update id = "modifyToDoListStatus" >
       UPDATE 
 		       TBL_TODOLIST A
 		   SET A.TODOLIST_CHECK_STATUS = #{ checkStatus }
 		     , A.TODOLIST_WRITING_TIME = TO_DATE(SYSDATE,'YYYY.MM.DD HH24:MI:SS')
 		 WHERE A.TODOLIST_NO = #{ no }
 	</update>
 	
 	<select id="selectMemberModal" resultMap="projectMembersResultMap">
		SELECT
		       A.PROJECT_CODE 
		     , A.MEMBER_NO
		     , A.PROJECT_PARTICIPATION_YN
		     , B.MEMBER_NAME
		     , B.MEMBER_ID
		     , C.ROLE_NAME
		  FROM TBL_PROJECT_MEMBERS A
		  JOIN TBL_MEMBER B ON(A.MEMBER_NO = B.MEMBER_NO)
		  JOIN TBL_ROLE C ON(A.PROJECT_CODE = C.PROJECT_CODE)
		 WHERE A.PROJECT_CODE = #{ code }
		   AND B.MEMBER_NO = C.MEMBER_NO
 	</select>
 
 	
 	<update id = "modifyToDoList" >
       UPDATE 
 		       TBL_TODOLIST A
 		   SET A.TODOLIST_TITLE = #{ title }
 		     , A.TODOLIST_WRITING_TIME = TO_DATE(SYSDATE,'YYYY.MM.DD HH24:MI:SS')
 		 WHERE A.TODOLIST_NO = #{ no }
 	</update>
 	
 </mapper>